.idea/
jsoup.iml
jsoup.ipr
jsoup.iws
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/test-classes/
.evosuite/
.classpath
.project
.settings/
*Thrash*

